
@{
    ViewData["Title"] = "Services";
}

<!-- feature_part start-->
<section class="feature_part single_feature_page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2>Our services</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-3 col-sm-12">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><img src="~/img/icon/feature_1.svg" alt=""></span>
                        <h4>Dentistry</h4>
                        <p>
                            Taking care of your pet’s teeth is vitally important for their overall health.
                            Just as we brush our teeth each day and get regular dental check-ups, 
                            our pets also need regular preventative care, dental check-ups and dental 
                            treatment.
                        </p>
                    </div>
                </div>
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><img src="~/img/icon/banner_1.svg" alt=""></span>
                        <h4>Surgical Theatre</h4>
                        <p>
                            All of our theatres are fully-equipped to allow our veterinary surgeons to perform 
                            your pet’s operation, each with suitable monitoring equipment to ensure your pet’s 
                            anaesthetic is as safe as possible. We maintain the highest standards of cleanliness 
                            and invest regularly in continuing education for our veterinary surgeons to ensure they 
                            are familiar with the latest techniques
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="single_feature_img">
                    <img src="~/img/service.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><img src="~/img/icon/feature_2.svg" alt=""></span>
                        <h4>Blood Testing</h4>
                        <p>
                            Our laboratory offers a rapid and efficient service with fast turnaround of results.
                            Many branches have state-of-the-art in-house equipment for an even faster service.
                            In addition to testing for the disease in an unwell patient, we also offer screening 
                            tests before your pet undergoes an anaesthetic to ensure that we identify any previously 
                            unknown problems, helping us to ensure the anaesthetic is as safe as possible.
                        </p>
                    </div>
                </div>
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><img src="~/img/icon/banner_1.svg" alt=""></span>
                        <h4>Vaccinations</h4>
                        <p>
                            Protect your pet against many life-threatening diseases by vaccinating annually.
                            We embrace modern vaccination protocols to ensure that your pet has the protection they need,
                            whilst ensuring we do not vaccinate more often than is necessary. Speak to your local team for
                            all the benefits of vaccination and the range of vaccinations we offer at an affordable price.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature_part start-->
