@model ClinicaVeterinaria.Models.VetAppointmentViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="col-sm-9 col-xs-12 pull-left">
    <h2><i class="fas fa-edit"></i> Edit</h2>
    <hr />
    <br />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="AnimalId"></label>
                    <select asp-for="AnimalId" asp-items="Model.Animals" class="form-control"></select>
                    @*<span asp-validation-for="Animal" class="text-danger"></span>*@
                </div>

                <br />
                <br />
                <div class="form-group">
                    <label asp-for="VetId"></label>
                    <select asp-for="VetId" asp-items="Model.Vets" class="form-control"></select>
                    @*<span asp-validation-for="Vet" class="text-danger"></span>*@
                </div>

                <br />
                <br />
                <div class="form-group">
                    <label asp-for="Room" class="control-label"></label>
                    <select asp-for="Room" class="form-control">
                        <option selected="selected">1</option>
                        <option selected="selected">2</option>
                        <option selected="selected">3</option>
                        <option selected="selected">4</option>
                        <option selected="selected">5</option>
                        <option selected="selected">(Select a Room...)</option>
                    </select>
                    <span asp-validation-for="Room" class="text-danger"></span>
                </div>

                <br />
                <br />
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input id="element" asp-for="Date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" value="Save" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                    <a asp-action="Index" class="btn btn-success"><i class="fas fa-backward"></i> Back to List</a>
                </div>

                <div class="text-success">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            var datetimepicker = new ej.calendars.DateTimePicker({
                placeholder: 'Choose a date',
                value: new Date(),
                // sets the format.
                format: 'yyyy-MM-dd hh:mm'
            });

            datetimepicker.appendTo('#element');
        </script>
    }
}

