@model ClinicaVeterinaria.Models.ChangeUserViewModel
@{
    ViewData["Title"] = "ChangeUser";
}

<div class="col-sm-12 col-xs-15 pull-left">
    <h2><i class="fas fa-user-edit"></i> Change User</h2>
    <hr />
    <br />

    <div class="row">
        <div class="col-md-4 fa-pull-right">
            <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto;" />
        </div>
        <div class="col-sm-4 ">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="ImageId" />

                <div class="form-group">
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-warning"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-warning"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageFile">Image</label>
                    <input asp-for="ImageFile" class="form-control" type="file" />
                    <span asp-validation-for="ImageFile" class="text-warning"></span>
                </div>
                
                <br />

                <div class="form-group">
                    <button type="submit" value="Update" class="btn btn-primary"><i class="fas fa-exchange-alt"></i> Update</button> &nbsp
                    <a asp-action="ChangePassword" class="btn btn-success"><i class="fas fa-unlock-alt"></i> Change Password</a>
                </div>

                <div class="text-success">@ViewBag.UserMessage</div>
            </form>
        </div>
    </div>
</div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

