@model ClinicaVeterinaria.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="col-sm-12 col-xs-15 pull-left">
    <h2><i class="fas fa-user-edit"></i> Reset Your Password</h2>
    <hr />
    <br />

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="post">
                <div asp-validation-summary="All"></div>
                <input type="hidden" asp-for="Token" />

                <div class="form-group">
                    <label asp-for="Username">Email</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-warning"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password">New password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-warning"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword">Confirm</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                </div>

                <div class="form-group">
                    <button type="submit" value="Reset password" class="btn btn-primary"><i class="fas fa-unlock-alt"></i> Reset Password</button>
                </div>
            </form>
            <div class="text-success">
                <p>
                    @ViewBag.Message
                </p>
            </div>
        </div>
    </div>
</div>


@section Scripts {
 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

